@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #19183B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #273F4F;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Outfit", "Vazirmatn", sans-serif;
}

html:lang(fa) {
  direction: rtl;
}

table tr td:not(:first-child) {
  border-left: 1px solid oklch(92.8% 0.006 264.531);
}

table tbody tr:first-child{
  border-top:  2px solid oklch(87.2% 0.01 258.338);
}

table tbody tr:not(:first-child){
  border-top:  1px solid oklch(92.8% 0.006 264.531);
}