@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #19183B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #273F4F;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Outfit", "Vazirmatn", sans-serif;
}

html:lang(fa) {
  direction: rtl;
}
